html {
    scroll-behavior: smooth;
}

.text-center {
    text-align: center;
}

.h-50 {
    height: 50%;
}

.box-shadow {
    /* border-top: 2px solid #e91e63; */
    box-shadow: 0 0.075rem 0.25rem #e91e63;
}